<%- include("../partials/header") %>

<%- include("../partials/nav") %>

<main>

    <h2>Create Account</h2>

    <p>
        Registration functionality will be implemented in Sprint 3.
    </p>

</main>

<%- include("../partials/footer") %>