<%- include("partials/header") %>
<%- include("partials/nav") %>
<%- include("../partials/validationErrors") %>
<main>
    <h2>About SmartBudget Pro</h2>

    <p>
        SmartBudget Pro helps users track expenses,
        budgets, and financial goals.
    </p>
</main>
<%- include("partials/footer") %>