<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body>

    <h1>SmartBudget Pro 🚀</h1>

    <p>Welcome to SmartBudget Pro.</p>

</body>
</html>