<%- include("partials/header") %>
<%- include("partials/nav") %>
<%- include("../partials/validationErrors") %>
<main>
    <h2>Welcome to SmartBudget Pro 🚀</h2>
    <p>Take contro of your finances and achieve your goals</p>
</main>
<%- include("partials/footer") %>