<aside class="sidebar">
    <div class="sidebar-logo">
        SmartBudget Pro
    </div>

    <nav>
        <% if (user.role === "admin") { %>
            <a href="/admin">Dashboard</a>
            <a href="/admin/users">Users</a>
            <a href="/admin/categories">Categories</a>
            <a href="/admin/requests">Advisor Requests</a>
        <% } else if (user.role === "advisor") { %>
            <a href="/advisor/index">Dashboard</a>
            <a href="../advisor/request">Requests</a>
            <a href="/advisor-requests">Advisor Requests</a>
            <a href="/advisor/userRequests">Clients</a>
        <% } else { %>
            <a href="/dashboard">Dashboard</a>
            <a href="/transaction">Transactions</a>
            <a href="/budget">Budgets</a>
            <a href="/goal">Goals</a>
            <a href="/reports">Reports</a>
        <% } %>
    </nav>
</aside>