<header>
    <h1>SmartBudget Pro</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>

    <hr>
</header>

<% 
    const messages = flash();
    const hasMessages = Object.values(messages).some(arr => arr.length > 0);
%>
<% if (hasMessages) { %>
    <div class="flash-messages">
        <% Object.keys(messages).forEach(type => { %>
            <% messages[type].forEach(message => { %>
                <div class="flash <%= type %>">
                    <%= message %>
                </div>
            <% }); %>
        <% }); %>
    </div>
<% } %>