<% 
    const messages = flash();
    const hasMessages = Object.values(messages).some(arr => arr.length > 0);
%>
<% if (hasMessages) { %>
    <div class="flash-messages">
        <% Object.keys(messages).forEach(type => { %>
            <% messages[type].forEach(message => { %>
                <div class="flash <%= type %>">
                    <%= message %>
                </div>
            <% }); %>
        <% }); %>
    </div>
<% } %>